name: metdata
channels:
  - conda-forge
  - defaults
dependencies:
  - python>=3.12
  - numpy
  - pandas
  - matplotlib
  - jupyterlab
  - pvlib
  - python-dateutil
  - netCDF4
  - pip
  - pip:
    - -e .
